@font-face {
    font-family: 'Avant Garde';
    src: url('../fonts/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf');
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../fonts/NeueMontreal-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.title {
    font-family: 'Avant Garde', 'Impact', sans-serif;
}

.description {
    font-family: 'Neue Montreal', 'Arial', sans-serif;
}

.search__filter {
    display: flex;
    justify-content: space-between;
}

.search, .filter {
    padding-left: 10px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

@media (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr;
    }
}